*{
    padding: 0;
    margin: 0;
}

.dash-main{
    display: flex;
}

.dash-main .left-dash{
    width: 80vw;
    background-color: rgb(197, 252, 255, 0.5);
}

.admin-nav {
    display: flex;
    
}

.admin-nav .admin-btn {
    margin: 19px 80px;
}

